@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700,800');

*{
   	font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
   /* background-color: #e5e5e5;*/
}

a, p, h1, h2, h3, h4, ul, ol, img, label{
    margin-bottom: 0;
}

.mb-30{
    margin-bottom: 30px;
}

b, strong{
    font-weight: bold;
}

.text-blue{
    color: #3d3e93;
}

.text-green{
    color: #719d36;
}

.text-red{
    color: #9e0b0f;
}

.text-blue2{
    color: #0c0d4d;
}

.text-gray{
    color: #a1a1a1;
}

.clear{
    clear: both;
}

.titles_pp{
    font-size: 22px;
    font-weight: 800;
}

.prevnext{
    color: #444444;
    display: table;
    height: 35px;
}

.prevnext:hover{
    color: #666666;
}

.prevnext i, .prevnext span{
    display: table-cell;
    vertical-align: middle;
}

.prevnext span{
    font-size: 14px;
    font-weight: 600;
}

.pvn{
    text-align: right;
    width: 100%;
}

.pva{
    text-align: left;
    width: 100%;
}

.linkmore-dn{
    display: table;
    font-size: 13px;
    height: 26px;
    width: 100%;
}

.linkmore-dn:hover{
    color: #719d36;
}

.linkmore-dn strong{
    display: table-cell;
    font-weight: 600;
    vertical-align: middle;
}

.linkmore-dn strong span, .linkmore-dn strong i{
    display: inline-block;
    vertical-align: middle;
}

.linkmore-dn strong i{
    margin-left: 10px;
}

.btn-blue{
    background-color: #0c0d4d;
    color: #ffffff;
    border-radius: 0;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 10px 25px;
}

.pointer{
    cursor: pointer;
}

[data-toggle="collapse"] .fa::before {   
  content: "\f139";
}

.btn-ch{
    font-size: 12px;
}

.modal-body{
    padding-bottom: 0;
    padding-top: 10px;
}

span.error{
    color: red;
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
}

.modal-footer{
    border-top: 0;
}

[data-toggle="collapse"].collapsed .fa::before {
  content: "\f13a";
}

.btn-green, .btn-green > span{
    background-color: #719d36;
    color: #ffffff;
    border-radius: 0;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 10px 25px;
}

.btn-sbw{
    background-color: #719d36;
    color: #ffffff;
    border-radius: 0;
    height: 35px;
    padding: 0;
    text-align: center;
    width: 38px;
}

.btn-green:hover{
    color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(113, 157, 54, 0.5);
}

.bg-gray2{
    /*background-color: #f4f4f4;*/
}

.bg-green2{
    background-color: #85c55a;
}

.btn-blue:hover{
    color: #eeeeee;
}

.btn-blue img, .btn-blue span{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
}

.btn-blue span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

@media(max-width: 500px){
    .btn-access > div.acc2 > span{
        text-align: right;
    }
    .acc2 i{
        display: none!important;
    }
}

.btn-blue:hover{
    box-shadow: 0 0 0 0.2rem rgba(12, 13, 77, 0.5);
}

.display-ib{
    display: inline-block;
    vertical-align: middle;
}

.bg-blue1{
    background-color: #0c0d4d;
}

.bg-blue2{
    background-color: #060638;
}   

.margin-bottom-30{
    margin-bottom: 30px;
}

.no-ox{
    overflow-x: hidden;
}
/********************SIDEBAR*********************/
.logotipo{
    /*background-color: #0c0d4d;*/
    background-color: #ffffff;
    display: table;
    height: 75px;
    position: relative;
    text-align: center;
    width: 100%;
}

.open-sidebar-search.close_search{
    color: #ffffff;
    display: table;
    height: 75px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 100000;
}

.logotipo > div{
    display: table-cell;
    vertical-align: middle;
}

.logotipo > div > img{
    max-width: 190px;
    width: 100%;
}
/************************************************/

/*******************MENU SECTIONS*****************/
.menu-sections{
    /*background-color: #141414;
    color: #ffffff;*/
    background-color: #ffffff;
    color: #0c0d4d;
    display: table;
    height: 55px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2100;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menumain{
    /*background-color: #000000;*/
    background-color: #ffffff;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 55px;
    width: 100%;
    z-index: 99999;
}

.btn-menumain{
    display: table;
    height: 55px;
    width: 40%;
}

.logo_resblestar{
    display: table;
    height: 55px;
    text-align: center;
    width: 20%;
}

.logo_resblestar .dimg{
    display: table-cell;
    vertical-align: middle;
}

.menu-language{
    display: none;
    width: 12%;
}

.btn-access{
    background-color: #719d36;
    color: #ffffff;
    cursor: pointer;
    display: table;
    height: 55px;
    padding: 0;
    text-align: center;
    width: 40%;
}

.btn-access > div > span, .btn-access > div > i{
    display: inline-block;
    vertical-align: middle;
}

.btn-access > div > span{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
    margin-right: 10px;
    text-align: left;
}
/******SECIIONS******/
.menumain > li{
    display: block;
    float: none;
    height: 55px;
    list-style: none;
    position: relative;
}

.menumain > li > a{
    /*color: #ffffff;*/
    color: #0c0d4d;
    display: table-cell;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.menumain > li:first-child > a{
    padding-top: 20px;
}

.menumain > li > a:hover{
    color: #719d36;
    text-decoration: none;
}

.menu-language li:first-child{
    display: none;
    opacity: 0.85;
}

.menu-language li > a{
    color: #ffffff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.menu-language li > a:hover{
    color: #719d36;
    text-decoration: none;
}

.btn-access > div.acc1{
    display: none;
}

.btn-access > div.acc2{
    display: table-cell;
    vertical-align: middle;
}

.btn-access > div.acc1 > i{
    display: none;
}

.modal-backdrop{
    background-color: #ffffff;
    z-index: 2250;
}

.modal-backdrop.show{
    opacity: 1;
}

#modalLogin .modal-content{
    border: 0;
}

.menu-brands{
    background-color: #292929;
    display: none;
    text-align: center;
    height: 55px;
}

.menu-brands li{
    display: table-cell;
    vertical-align: middle;
}

.menu-brands li a{
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    padding: 10px;
    white-space: nowrap;
}

.subm{
    background-color: #ffffff;
    display: block;
    position: relative;
    top: 100%;
}

.subm > li{
    display: block;
    float: none;
    list-style: none;
    position: relative;
    text-align: left;
}

.subm > li > a{
    color: #0c0d4d;
    display: table-cell;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.smenu{
    height: auto!important;
}

@media(min-width: 992px){
    .subm{
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
    }

    .smenu{
        height: 55px!important;
    }

    .subm > li > a{
        color: #0c0d4d;
        display: block;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 20px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}

.modal{
    z-index: 2252;
}

.close{
    cursor: pointer;
}

.modal-header{
    padding: 8px 1rem;
}

.modal-title{
    font-size: 15px;
}

.modal-header .close{
    margin: 0;
    padding: 0;
}

.modal-footer .btn{
    font-size: 14px;
    font-weight: 500;
}

.form-group label{
    font-size: 14px;
    font-weight: 600;
}

#data-access > .btn-group{
    line-height: 1;
    width: 50%;
}

#data-access > .btn-group > .btn{
    color: #ffffff;
    display: table;
    height: 55px;
    white-space: normal;
} 

#data-access > .btn-group > .btn:hover{
    background-color: #4f7d12;
}

#data-access > .btn-group > .btn[aria-expanded="true"] {
    background-color: #4f7d12;
}

.mydrop{
    border-radius: 0;
    padding: 0;
    text-align: right;
}

.mydrop .dropdown-item{
    font-size: 13px;
    font-weight: 500;
    padding: 10px 15px;
}

#data-access .dropdown-toggle::after{
    display: none;
}

.btn-user-des{
    display: table-cell;
}

#data-access > .btn-group > .btn i, #data-access > .btn-group > .btn span{ 
    display: table-cell;
    vertical-align: middle;
}

#data-access > .btn-group > .btn i{
    font-size: 16px;
}

#data-access > .btn-group > .btn span{
    font-size: 11px;
    font-weight: 600;
}

.bagheader{
    background-color: #434899;
    display: table;
    height: 55px;
    width: 50%;

    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.bagheader:hover{
    background-color: #10177b;
}

.bagheader > div{
    display: table-cell;
    vertical-align: middle;
}

#countbag{
    font-size: 13px;
    font-weight: 600;
    padding: 0 3px;
}

#toggle-menu{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#toggle-menu > div{
    display: block;
    height: 3px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: .3s all cubic-bezier(0, 0, 0.58, 1);
}
#toggle-menu > div:nth-child(1){
    margin-bottom: 5px;
    width: 30px;
}
#toggle-menu > div:nth-child(2){
    margin: 0 0 5px auto;
    width: 18px;
    transform-origin: right;
}
#toggle-menu > div:nth-child(3){
    width: 30px;
}
#toggle-menu.open > div:nth-child(1){
    transform: rotate(45deg) translateY(-3px);
    transform-origin: top left;
}
#toggle-menu.open > div:nth-child(2){
    opacity: 0;
    transform: scaleX(0);
}
#toggle-menu.open > div:nth-child(3){
    transform: rotate(-45deg) translateY(3px);
    transform-origin: bottom left;
}
.enlaces-footer{
     /*color:#719d36 !important;*/
     font-weight: 400;
     margin-bottom: 10px;
     font-size: 12px;
}

@media(min-width: 992px){
    .menumain, .menu-language{
        display: table!important;
        position: relative;
        top: 0;
        width: 80%;
        z-index: 99;
    }

    .menu-brands{
        width: 14%;
    }

    .open-sidebar-search.close_search{
        display: none;
    }

    .menumain > li:first-child > a{
        padding-top: 0;
    }

    .btn-menumain, .logo_resblestar{
        display: none;
    }

    .btn-access{
        width: 18%;
    }

    .menu-language{
        width: 8%;
    }

    .btn-access{
        padding: 0;
        width: 12%;
    }

    .menumain > li{
        display: table;
        float: left;
        height: 55px;
        list-style: none;
    }

    .menu_languaje > li{
        display: table;
        float: left;
        height: 55px;
        list-style: none;
    }

    .menu_languaje > li > a, .menu_languaje > li > span{
        display: table-cell;
        font-size: 11px;
        padding: 0 2px;
        vertical-align: middle;
    }

    .menumain > li > a{
        font-size: 9px;
        padding: 0 4px;
    }

    .menu-brands li a{
        font-size: 10px;
        padding: 10px 5px;
    }

    .btn-access > div > span{
        font-size: 11px;
    }
}

.menumain > li:last-child{
    background-color: #292929;
    display: block;
}

.menumain > li:last-child a{
    color: #ffffff;
}

@media(min-width: 1010px){
     .menumain{
        width: 70%;
    }

    .menu-language{
        width: 6%;
    }

    .btn-access{
        padding: 0;
        width: 16%;
    }

    .btn-access > div.acc1{
        display: table-cell;
        vertical-align: middle;
    }

    .btn-access > div.acc2{
        display: none;
    }

    .menu-brands{
        display: table;
    }

    .menumain > li:last-child{
        display: none;
    }
}

.animated_new{-webkit-animation-duration:0.5s;animation-duration:0.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

.swal2-container{
    z-index: 2500!important;
}

@media(min-width: 1120px){
    .btn-access > div.acc1 > i{
        display: inline-block;
    }
}

@media(min-width: 1200px){
    .menumain{
        width: 70%;
    }

    .menu-language{
        width: 12%;
    }

    .menu-brands{
        width: 12%;
    }

    .menu-language li:first-child{
        display: table;
    }

    .menu-language li span{
        color: #e5e5e5;
    }

    .btn-access{
        width: 18%;
    }

    .menu_languaje > li{
        display: table;
        float: left;
        height: 55px;
        list-style: none;
    }

    .menumain > li{
        text-align: center;
    }

    .menu_languaje > li > a, .menu_languaje > li > span{
        display: table-cell;
        font-size: 11px;
        padding: 0 2px;
        vertical-align: middle;
    }

    .menumain > li > a{
        font-size: 9px;
        padding: 0 9px;
    }
}

@media(min-width: 1300px){
    .menumain > li > a{
        font-size: 10px;
        padding: 0 13px;
    }
}

@media(min-width: 1400px){
    .menumain > li > a{
        font-size: 11px;
        padding: 0 18px;
    }
}
/************************************************/

/********************FILTERS*********************/
#filters-result{
    width: 100%;
}

.title-filters{
    background-color: #434899;
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    margin: 0;
    padding: 10px 12px;
}

.title-filters1{
    font-size: 10px;
    font-weight: 800;
    margin-bottom: 5px;
}

.title-filters hr{
    margin: 4px 0;
}

.content-filters .form-group{
    padding: 0 12px;
}

.content-filters .form-group #contentPF .custom-control-label{
    color: #777777;
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 13px;
}

.content-filters .form-group #contentPF .custom-control-label::before{
    height: 20px;
    top: 0;
    width: 20px;
}

.content-filters .form-group #contentPF .custom-radio .custom-control-input:focus~.custom-control-label::before{
    box-shadow:none; 
}

.content-filters .form-group #contentPF .custom-radio .custom-control-input:checked~.custom-control-label::after{
    background-color: #0c0d4d;
    background-image: none;
    border-radius: 100%;
}

.content-filters .form-group #contentPF .custom-control-label::after{
    position: absolute;
    top: 4px;
    left: -20px;
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.content-filters .form-group #contentPF .custom-control-input:checked~.custom-control-label::before{
    border-color: #a0a0a0;
    background-color: #ffffff;
}

.form-align input, .form-align strong, .form-align button{
    display: inline-block;
    vertical-align: middle;
}

.form-align input{
    border: 1px solid #d0d0d0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    line-height: 1;
    padding: 8px 1px;
    text-align: center;
    width: 49px;
}

.form-no-align input{
    border: 1px solid #d0d0d0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    line-height: 1;
    padding: 8px 4px;
    width: 100%;
}

.form-align input:focus, .form-no-align input:focus{
    outline: none;
}

.form-align > input:nth-child(2){
    margin-right: 3px;
}

.form-align > input:nth-child(4){
    margin-left: 3px;
}

.form-align > button{
    background-color: #719d36;
    border-radius: 0;
    color: #ffffff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    padding: 4px 11px;
}

.form-no-align > button{
    background-color: #719d36;
    border-radius: 0;
    color: #ffffff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    padding: 4px 11px;
}

.form-no-align select{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
}

#families-blestar-int, #families-blestar-int option{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 13px;
}

.form-no-align select option{
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
}

.form-no-align select:focus{
    border: 1px solid #ced4da;
    box-shadow: none;
}

.form-align > button:hover, .form-no-align > button:hover{
    color: #ffffff;
}

.row10{
    margin-left: -10px;
    margin-right: -10px
}

.row10 .col-md-6{
    padding: 0 10px;
}

#filters-result{
    position: relative;
}

.actionblur{
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    filter: blur(5px);
}

.pagination-rw{
    /*margin: 15px auto;*/
    padding-bottom: 7px;
    padding-top: 7px;
}

.pages .custom-select{
    cursor: pointer;
    font-size: 14px;
    width: auto;
}

.text-pages{
    font-size: 14px;
    font-weight: 600;
}

.filters-int .text-pages{
    font-size: 12px;
    font-weight: 600;
}


/**************CHECKBOX******************/
.checkbox.custom {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0;
    display: block;
    width: 25px;
}

input[type="checkbox"].custom {
  margin-left: 0;
  padding: 0;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  border: 0;
}

input[type=checkbox].css-checkbox+label.css-label{
    border: 1px solid #d0d0d0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  line-height: 70px;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  opacity: 1;
}

input[type=checkbox].css-checkbox:checked+label.css-label::before{
    content: '\f00c';
    font-family: FontAwesome;
    font-style: normal;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    color: #ffffff;
    top: 5px;
    left: 5px;
    -webkit-text-stroke: 1px black;
}

.content-filters span.error{
    display: none!important;
}

.content-filters input.error{
    border: 1px solid red;
    box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.5);
}

.swal2-popup .swal2-title{
    font-size: 24px !important;
    font-weight: 800 !important;
}

#swal2-content{
    font-size: 16px;
    font-weight: 500;
}

#swal2-content strong{
    font-weight: 800;
}
/************************************************/

/*****************PRODUCT DETAIL*****************/
.container-int{
    padding: 10px 0;
}

.bread{
    border-bottom: 1px solid #c6c6c6;
    padding: 5px 0;
    padding-bottom: 8px;
    width: 100%;
}

.bread > span{
    border-right: 1px solid #c6c6c6;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 0 12px;
}

.bread > span:first-child{
    padding-left: 0;
}

.bread > span:last-of-type{
    border-right: 0;
    color: #3d3e93;
    font-weight: 600;
}

.bread strong a, .bread strong i{
    color: #719d36;
}

.bread strong a span{
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 8px;
}

.bread strong a i, .bread strong a span{
    display: inline-block;
    vertical-align: middle;
}

.detailp{
    margin-top: 15px;
}

.code-detail-product{
    font-size: 18px;
}   

.name_product{
    font-size: 30px;
    font-weight: 800;
}

.category_detail_product{
    color: #777777;
    font-size: 13px;
}

.description_detail_product{
    color: #555555;
    font-size: 14px;
    font-weight: 500;
}

.price-product{
    display: block;
    font-size: 28px;
}

.price-product.tachado{
    color: #9e0b0f;
    font-size: 22px;
    text-decoration: line-through;
}

.tachado{
    text-decoration: line-through;
}

.myprice{
    display: block;
    font-size: 23px;
    font-weight: 800;
    margin-top: 5px;
}

.content-tblcolors{
    margin-top: 20px;
}

.content-tblcolors .table th{
    color: #3d3e93;
    font-size: 13px;
}

.content-tblcolors .table thead th{
    border-bottom: 1px solid #c6c6c6;
    padding: 4px 5px;
}

.content-tblcolors .table thead th:first-child{
    padding-left: 0;
}

.content-tblcolors .table tbody td{
    font-size: 13px;
}

.content-tblcolors .table tbody td img{
    border: 1px solid #c1c1c1;
    width: 20px;
}

.content-tblcolors .table td{
    border: 1px solid #c6c6c6;
    border-left: 0;
    padding: 8px 5px;
}

.content-tblcolors .table td span{
    display: inline-block;
    margin-top: 2px;
}

.content-tblcolors .table td:last-child{
    border-right: 0;
}

.tooltip-inner{
    font-size: 11px;
    font-weight: 600;
}

.material_s1,.material_s2{
    border-bottom: 1px solid #c6c6c6;
}

.material_s1 .contentbr, .material_s2 .contentbr{
    border-right: 1px solid #c6c6c6;
    font-size: 13px;
    line-height: 1;
    padding: 20px 0;
    width: 100%;
}

.material_s1 .contentnbr, .material_s2 .contentnbr{
    font-size: 13px;
    line-height: 1;
    padding: 20px 0;
    width: 100%;
}

.size_box{
    background-color: #777777;
    margin: 15px 0;
}

.content_icon_box{
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.boxbr{
    border-right: 1px solid #666666;
    display: table;
    height: 39px;
    width: 100%;
}

.boxnbr{
    display: table;
    display: table;
    height: 39px;
    width: 100%;
}

.boxnbr > div, .boxbr > div{
    color: #ffffff;
    display: table-cell;
    font-size: 12px;
    vertical-align: middle;
}

.clap{
    line-height: 1;
}

.clap strong{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.btn-down, .btn-add-bolsa{
    margin: 30px 0;
}

.btn-add-bolsa span{
    color: #ffffff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

@media(min-width: 1200px){
    .container-int{
        padding: 12px 25px;
    }
}

#modalBag{
    padding-left: 15px!important;
    padding-right: 15px!important;
}

#modalVariantColor .modal-content, #modalBag .modal-content{
    border: 0;
}

#modalBag .modal-dialog{
    max-width: 1024px;
}

#modalBag .modal-footer{
    padding: 15px 0;
}

.input-qty-one{
    font-size: 16px;
    height: 50px;
    line-height: 1;
    margin: 30px 0;
    padding: 5px 10px;
    width: 100%;
}

.input-qty-one:focus{
    outline: none;
}

.item-cart{
    border-bottom: 1px solid #dee2e6;
    padding: 15px 0;
}

.name_bag{
    font-size: 12px;
}

.delete-item-bag{
    color: red;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

.delete-item-bag i{
    font-size: 20px;
}

.tooltip{
    z-index: 2100;
}
/***************************RESULTS***************************/
.header-section{
    padding-bottom: 8px;
    padding-top: 8px;
}

.header-section h1{
    font-size: 15px;
    font-weight: 600;
}

.item_product{
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 7px 15px;
}

.cproducts{
    margin-top: 20px;
}

.code_preview_product{
    display: block;
    font-family: 'Barlow Condensed', sans-serif;
}

.content_preview_img{
    width: 100%;
}

.name_ppreview{
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
}

.catry_prev{
    display: block;
    font-size: 10px;
    font-weight: 600;
    line-height: 1.3;
}

.price_prev{
    display: block;
    font-size: 20px;
    margin-top: 5px;
}

.btn-viewd{
    margin-bottom: 7px;
    margin-top: 10px;
    padding: 6px 15px;
    width: 100%;
}

.col-product{
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
}

.filters-int{
    font-size: 11px;
}

.filters-int .filter-cus{
    background-color: transparent;
}

.filters-int .custom-select{
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
    width: auto;
}

.filters-int .custom-select option{
    font-size: 14px;
}

.custom-select:focus{
    border: 1px solid #ced4da;
    box-shadow: none;
}

.filters-int .filter-cus span{
    font-size: 11px;
    font-weight: 600;
    margin-right: 8px;
}

.filters-int .filter-cus::after{
    display: none;
}

.filter-cus:focus{
    box-shadow: none;
}

.filter-o .dropdown-item{
    font-size: 13px;
}

.text-filter{
    font-size: 12px;
    font-weight: 500;
}

.order-bw{
    cursor: pointer;
}

@media(min-width: 550px){
    .col-product{        
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(min-width: 800px){
    .col-product{        
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media(min-width: 1200px){
    .col-product{        
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media(min-width: 1370px){
    .col-product{        
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.special-add .btn-add-bolsa{
    padding: 5px 15px;
    margin: 10px 0;
}

.special-add .btn-add-bolsa > span{
    font-size: 14px;
}

.special-add .input-qty-one{
    font-size: 14px;
    height: 38px;
    margin: 10px 0;
}
/**********************FOOTER********************/
#footer{
    margin-top: 50px;
    position: relative;
    z-index: 2000;
}

.redfooter{
    display: table;
    height: 50px;
    text-align: center;
    width: 100%;
}

.redfooter > div{
    display: table-cell;
    vertical-align: middle;
}

.redfooter > div img, .redfooter > div span{
    display: inline-block;
    vertical-align: middle;
}

.redfooter > div span{
    color: #ffffff;
    display: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    margin-left: 8px;
    margin-top: 2px;
}

.bg-facebook{
    background-color: #2e3192;
}

.bg-instagram{
    background-color: #440e62;
}

.bg-youtube{
    background-color: #9e0b0f;
}

.red-npr{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, #2e3192 50%);
    margin-top: -25px;
    padding-right: 0;
}

.red-npdd{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%,  #440e62 50%);
    margin-top: -25px;
    padding: 0;
}

.red-npl{
    margin-top: -25px;
    padding-left: 0;
}

.links-add{
    list-style: none;
    padding-left: 50px;
    position: relative;
}

.links-addc{
    list-style: none;
    position: relative;
}

.links-add::before{
    background-color: rgba(255, 255, 255, 0.6);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 12px;
    width: 30px;
}

.links-add li a, .links-addc li a{
    color: #ffffff;
    font-size: 12px;
    transition: opacity 0.15s ease-in-out;
}

.links-addc li > strong{
    font-size: 13px;
}

.links-addc li span{
    font-size: 20px;
    margin-top: 3px;
}

.links-addc li span small{
    display: block;
    font-size: 12px;
    font-weight: 600;
}

.tc{
    padding-bottom: 50px;
    margin-top: 50px;
}

.links-add li a:hover, .links-addc li a:hover{
    opacity: 0.85;
    text-decoration: none;
}

.footer2{
    line-height: 1;
    padding: 10px 0;
}

.text-foo{
    font-size: 12px;
}

a:hover{
    text-decoration: none;
}

#PureChatWidget.purechat .purechat-collapsed .purechat-widget-header .purechat-widget-title-link{
    font-size: 14px !important;
}

@media(max-width: 575px){
    .links-add, .links-addc{
        padding-left: 0;
        text-align: center;
    }

    .links-add::before{
        display: none;
    }

    .links-add li, .links-addc li{
        margin: 5px 0;
    }

    .links-add li a, .links-addc li a{
        font-size: 15px;
    }
}

@media(min-width: 500px){
    .redfooter > div span{
        display: inline-block;
    }
}
/********************MAQUETA*********************/
.sidebar_main {
	background-color: #ffffff;
	background-position: center bottom;
	background-size: cover;
	bottom: 0;
	left: -210px;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 210px;
	z-index: 90000000;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sweet-alert button.cancel{
    background-color: #b3b3b3;
}

.content_inside {
	background-color: transparent;
	margin-left: 0px;
	min-height: 100vh;
	padding-top: 55px;
	z-index: 1;

	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sidebar_main.viewsidebar{
    left: 0;
    width: 100%;
}

@media(min-width: 992px){
    .sidebar_main{
        left: 0px;
        z-index: 1000;
    }

    .content_inside{
        margin-left: 210px;
    }

    .menu-sections{
        width: calc(100% - 210px);
        z-index: 1030;
    }
}

/**********************LOADER*********************/
.container-loader{
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    padding-top: 120px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 99999999;
}

#messages-loader strong{
    display: block;
    margin-bottom: 0px;
}

#messages-loader strong:last-child{
    margin-bottom: 25px;
}


.indicators-detail{
    display: block;
    height: 330px;
    margin:  0 auto;
    overflow: auto;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
}

.indicators-detail li{
    background-color: transparent;
    border: 1px solid #e4e4e4;
    cursor: pointer;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-indent: initial;
    width: 50px;
}

.indicators-detail li img{
    width: 100%;
}

.indicators-detail .active{
    border: 1px solid #7a4aab;
}

.npddr{
    padding-right: 0;
}

@media (max-width: 768px){
    .indicators-detail{
        display: flex;
    }
    .carousel-indicators li{
        height: auto;
        margin: 5px;
    }

    .indicators-detail{
        height: auto;
        margin-bottom: 15px;
    }

    .btn-access, .bagheader{
        background-color: #719d36;
    }
}

@media(max-width: 600px){
    .dnone-600{
        display: none!important;
    }
}

.open-menusections, .open-sidebar-search{
    display: table;
    float: left;
    height: 55px;
    text-align: center;
    width: 50%;
}
.open-menusections{
    background-color:#0c0d4d;
}
.open-menusections i, .open-sidebar-search i{
    display: table-cell;
    vertical-align: middle;
}

.title-time-int{
    background-color: #ffffff;
}

.title-time-int span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    padding: 6px 15px;
    vertical-align: middle;    
}

.title-time-int span:last-child{
    background-color: #4b4b4b;
    color: #ffffff;
    float: right;
}

.card-shipping-exp-int .info-shipping{
    background-color: #ff1808;
    padding: 10px 16px;
}

.card-shipping-exp-int .info-shipping p{
    color: #ffffff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2;
}

.card-shipping-nor-int .info-shipping{
    background-color: #3e3f92;
    padding: 10px 16px;
}

.card-shipping-nor-int .info-shipping p{
    color: #ffffff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2;
}

.card-shipping-ups-int .info-shipping{
    background-color: #729c36;
    padding: 10px 16px;
}

.card-shipping-ups-int .info-shipping p{
    color: #ffffff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2;
}

.card-prices table th{
    color: #ffffff;
    font-size: 10px;
    padding: 8px 0;
    text-align: center;
}

.card-prices table td{
    background-color: #ffffff;
    border: 1px solid #cacacc;
    color: #333333;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 0;
    text-align: center;
}

.card-shipping-nor-int table th:nth-child(odd){
    background-color: #4c4b6d;
}

.card-shipping-nor-int table th:nth-child(even){
    background-color: #393955;
}

.card-shipping-exp-int table th:nth-child(odd){
    background-color: #99332e;
}

.card-shipping-exp-int table th:nth-child(even){
    background-color: #661511;
}

.card-shipping-ups-int table th:nth-child(odd){
    background-color: #687b4d;
}

.card-shipping-ups-int table th:nth-child(even){
    background-color: #415427;
}

@media(min-width: 992px){
    .card-shipping-exp-int .info-shipping p, .card-shipping-nor-int .info-shipping p, .card-shipping-ups-int .info-shipping p{
        max-
        : 200px;
    }
}